* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
  }
  
  .firstSectionStyle {
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;
    justify-content: space-between;
    padding: 18px;
    padding-left: 250px;
    padding-top: 120px;
    background-color: white;
  }
  
  .firstSectionStyle h1 {
    font-size: 50px;
  }
  
  .columntext {
    flex-direction: column;
  }
  .people {
    color: #5aa469;
    padding: 5px;
    padding-top: 50px;
  }
  
  .produce {
    color: black;
    padding: 5px;
  }
  
  .prosper {
    color: #5aa469;
    padding: 5px;
  }
  
  .ity {
    color: lawngreen;
  }
  
  .firstText {
    color: #3a6351;
  }
  
  .firstSectionStyle p {
    background-color: white;
    font-size: small;
    font-family: sans-serif;
    padding: 3px;
  }
  
  .firstParagragh {
    color: green;
    font-size: x-large;
    font-weight: bold;
    padding: 7px;
    margin-top: 30px;
  }
  
  .peopleImage {
    height: 40px;
    width: 40px;
  }
  
  .paragraghAndImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .firstImage {
    padding-right: 70px;
    border-radius: 30px;
  }

  
  @media screen and (max-width: 600px) {
    .firstSectionStyle {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      border-top: 1px;
      border-color: #5aa469;
    }
    .firstSectionStyle h1,p {
      display: grid;
      justify-content: flex-start;
      text-align: none;
      justify-self: start;
    }
    .peopleImage {
      position: relative;
      height: 50%;
      justify-content: flex-start;
      justify-self: start;
    }

    .columnText .firstText h1 {
      position: relative;
      margin-left: 0;
      padding-left: 0;
      justify-self: start;
      
    }

    .columnText .peopleImage {
      position: relative;
      justify-self: start;
      height: 80px;
      width: 80px;
      margin: 50px;
      padding-top: 20px;
    }
  }

  .animated-text {
    position: relative;
    top: 50%;
    background-color: #eeeeee;
    /* transform: translate(50%, -50%); */
    overflow: hidden;
  }

  .firstSectionStyle .line {
   background-color: #eeeeee;
  }
  
  .paragraphText p:before {
    content:" ";
    width: 6px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    background-color: #29cf00;
    vertical-align: middle;
}
   .line:first-child {
    
    animation: anim 15s infinite;
   }

   @keyframes anim {
    0%{
      margin-top: 0;
    }
    16%{
      margin-top: -60px;
    }
    33%{
      margin-top: -120px;
    }
    50%{
      margin-top: -180px;
    }
    66%{
      margin-top: -120;
    }
    82%{
      margin-top: -60;
    }
    100%{
      margin-top: 0;
    }
   }