.footer {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding-top: 50px;
}

.footer-image {
    padding: 100px;
}

.icons {
    align-items: center;
    color: #5aa469;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

